{% extends 'base.html' %}

{% block title %}About the Author{% endblock %}

{% block content %}
<div class="row align-items-center">
    <div class="col-md-8">
        <h2>About Me</h2>
        <p class="lead mt-3">
            Hi! I am Avital Zar, a student of computer science at Ariel University. I implemented this algorithm
			as part of my studies.
        </p>
		<a href="https://github.com/AvitalZar" target="_blank" class="btn" style="background-color: #d8b8ff; border-color: #c5a8ff; color: #4b0082;">You can find me on GitHub!</a>
		<hr>
        <p>
            I opened PR to contribute my code to the open library "pref voting" <a href="https://github.com/voting-tools/pref_voting">[Here]</a>. <br>
			Right now, you can the full code in my git: <a href="https://github.com/AvitalZar/pref_voting/tree/rgcr-func">[Here]</a>
        </p>
		<p>
			Feel free to reach out to me if you have any question or suggestion about the code or the algorithm!<br>
			Avital Zar - <br> tchykzr@gmail.com
		</p>
    </div>
    <div class="col-md-4 text-center">
        <div class="text-dark rounded-circle d-inline-block shadow" style="background-color: #d8b8ff; width: 200px; height: 200px; line-height: 185px; font-size: 5rem;">🌸</div>
    </div>
</div>
{% endblock %}